<%- include('includes/header') %>
<!-- ======= Sidebar ======= -->
<%- include('includes/sidebar') %>
<main id="main" class="main">
    <h1> Teacher's List</h1>

    <div class="card">
        <div class="card-body">
             <!-- Class Listing Table -->
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Teacher Name</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Pincode</th>
                            <th scope="col">District</th>
                            <th scope="col">State</th>
                            <th scope="col">Higher Qualification</th>
                            <th scope="col">Session</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.length > 0) { %>
                            <% data.forEach(function(c, index) { %>
                                <tr>
                                    <td scope="row"><%= index + 1 %></td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.full_name %></td>
                                    <td class="row-click" data-id="<%= c.id %>">
                                        <% let dob = new Date(c.dob); %>
                                        <%= dob.getFullYear() + '-' + ('0' + (dob.getMonth() + 1)).slice(-2) + '-' + ('0' + dob.getDate()).slice(-2) %>
                                    </td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.email %></td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.phone %></td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.pincode %></td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.district %></td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.state %></td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.higher_qualification %></td>
                                    <td class="row-click" data-id="<%= c.id %>"><%= c.session_name %></td>
                                    <td class="row-click" data-id="<%= c.id %>">
                                        <% if(c.status==1) { %>
                                            <form method="post" action="/teacherPending">
                                                <input type="hidden" value="<%= c.id %>" name="id">
                                                <input type="hidden" value="<%= c.register_id %>" name="register_id">
                                                <button type="submit"
                                                    class="btn btn-danger">Inactive</button>
                                            </form>
                                            <% }%>
                                    </td>
                                    <td>
                                        <!-- Actions for Edit and Delete -->
                                        <div class="filter">
                                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <li>
                                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editteacher<%= c.id %>">Edit/View</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal<%= c.id %>">Delete</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Delete Modal -->
                                        <div class="modal fade" id="exampleModal<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%= c.id %>" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-footer">
                                                        <span style="margin-right: 100px;"><b>Do You want to Delete This?</b></span>
                                                        <a href="/teacher" type="button" class="btn btn-secondary">No</a>
                                                        <a href="deleteteacher?id=<%= c.id %>" type="button" class="btn btn-danger">Yes</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Edit Teacher Modal -->
                                        <div class="modal fade" id="editteacher<%= c.id %>" tabindex="-1"
                                            role="dialog" aria-labelledby="editClassModalLabel<%= c.id %>"
                                            aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit Teacher Detail</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>

                                                    <form method="post" action="/updateteacher_active" enctype="multipart/form-data">
                                                        <div class="modal-body">
                                                        <div class="row">
                                                            <div class="modal-body">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <input type="hidden" name="id" value="<%= c.id %>">
                                                                            <label class="form-label">Full Name <b>*</b></label>
                                                                            <input type="text" name="full_name" value="<%= c.full_name %>" class="form-control"
                                                                                required>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">Email<b>*</b></label>
                                                                            <input type="email" name="email" value="<%= c.email %>" class="form-control" readonly>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">Phone</label>
                                                                            <input type="tel" name="phone" value="<%= c.phone %>"  class="form-control">
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">DOB <b>*</b></label>
                                                                            <input type="date" name="dob" value="<%= c.dob %>" class="form-control" required>
                                                                        </div>
                    
                                                                        <div class="col-6">
                                                                            <label class="form-label">Adharcard No</label>
                                                                            <input type="number" name="adharcard_no" value="<%= c.adharcard_no %>" class="form-control">
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">Adharcard Img</label>
                                                                            <input type="file" name="adharcard_img" value="<%= c.adharcard_img %>" class="form-control">
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">Address <b>*</b></label>
                                                                            <input type="text" name="address"  value="<%= c.address %>" class="form-control" required>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">District <b>*</b></label>
                                                                            <input type="text" name="district" value="<%= c.district %>" class="form-control"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <label class="form-label">Pincode <b>*</b></label>
                                                                            <input type="text" name="pincode" value="<%= c.pincode %>" class="form-control" required>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">State <b>*</b></label>
                                                                            <input type="text" name="state" value="<%= c.state %>" class="form-control" required>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">Higher Education<b>*</b></label>
                                                                            <input type="text" name="higher_qualification" value="<%= c.higher_qualification %>"
                                                                                class="form-control" required>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">Resume</label>
                                                                            <input type="file" name="resume_img" value="<%= c.resume_img %>" class="form-control">
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">3 Moths Salary Slip</label>
                                                                            <input type="file" name="three_months_salary_slip_img" value="<%= c.three_months_salary_slip_img %>"
                                                                                class="form-control">
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label class="form-label">Experience Letter</label>
                                                                            <input type="file" name="experience_letter" value="<%= c.experience_letter %>"
                                                                                class="form-control">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Session</label>
                                                                            <select name="session_id" class="form-control" required>
                                                                                <% if(sess.length> 0) { %>
                                                                                    <option value="<%= c.session_id %>">
                                                                                        <%= c.session_name %>
                                                                                    </option>
                                                                                    <% sess.forEach(function(c) { %>
                                                                                        <option value="<%= c.id %>">
                                                                                            <%= c.session_name %>
                                                                                        </option>
                                                                                        <% }) %>
                                                                                            <% } else { %>
                                                                                                <option value="">First Add Your School
                                                                                                    Session</option>
                                                                                                <% } %>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="11" class="text-center">No Teacher Details found.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.row-click').forEach(function (c) {
                c.addEventListener('click', function () {
                    var id = c.getAttribute('data-id');
                    window.location.href = '/teacher-detail?id=' + id;
                });
            });
        });
    </script>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<%- include('includes/footer') %>
