<%- include('includes/header') %>
    <!-- ======= Sidebar ======= -->
    <%- include('includes/sidebar') %>

        <main id="main" class="main">

            <div class="pagetitle">
                <h1>Profile</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">Student</li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section profile">
                <div class="row">
                    <div class="col-xl-4">

                        <div class="card">
                            <div class="card-body align-items-center">


                                <% if(data.length> 0) { %>
                                    <% data.forEach(function(c, index) { %>
                                        <form action="/student-pic-upload" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="id" value="<%= data[0].id %>">
                                            <div class="text-center">
                                                <label for="imageInput" class="image-upload-label">
                                                    <% if(data[0].profile_img) { %>
                                                        <img src="<%= data[0].profile_img %>"
                                                            class="rounded-circle pt-2 img-fluid" id="profileImage"
                                                            style="width: 200px; height: 200px; object-fit: cover;">
                                                        <% } else { %>
                                                            <img src="/assets/img/no.jpeg"
                                                                class="rounded-circle pt-2 img-fluid" id="profileImage"
                                                                style="width: 200px; height: 200px; object-fit: cover;">
                                                            <% } %>
                                                </label>
                                            </div>
                                            <input type="file" id="imageInput" name="profile_img" class="form-control"
                                                accept="image/*" style="display: none;" required>
                                            <div class="text-center pb-5 mt-1">
                                                <button type="submit" class="bi bi-camera">Save</button>
                                            </div>
                                        </form>
                                        <h4 style="color: blueviolet;text-align:center">
                                            <b>
                                                <%= c.full_name %>
                                            </b>
                                        </h4>
                                        <h3 style="color:rgb(224, 164, 92); text-align:center">
                                            <b>
                                                <%= c.phone %>
                                            </b>

                                        </h3>

                                        <hr>
                                      
                                        <hr>
                                        <div style="max-width:100%;">
                                            
                                        </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-8">

                        <div class="card">
                            <div class="card-body pt-3">
                                <!-- Bordered Tabs -->
                                <ul class="nav nav-tabs nav-tabs-bordered">

                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">Overview</button>
                                    </li>

                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#profile-change-password">Change Password</button>
                                    </li>

                                </ul>
                                <div class="tab-content pt-2">

                                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                        <h5 class="card-title">Profile Details</h5>
                                        <div class="table-responsive">
                                            <table class="table ">
                                                <tbody>
                                                    <tr>
                                                        <th>Full Name</th>
                                                        <td>
                                                            <%= c.full_name %>
                                                        </td>
                                                        <th></th>
                                                        <td>

                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <th>Roll No</th>
                                                        <td>
                                                            <%= c.roll_no %>
                                                        </td>
                                                        <th>Pincode</th>
                                                        <td>
                                                            <%= c.pincode %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>DOB</th>
                                                        <td>
                                                            <% let dob=c.dob %>
                                                                <%= dob.getFullYear() + '-' + ('0' + (dob.getMonth() +
                                                                    1)).slice(-2) + '-' + ('0' +
                                                                    dob.getDate()).slice(-2) %>
                                                        </td>
                                                        <th>class Name</th>
                                                        <td>
                                                            <%= c.class_name %>
                                                                <%= c.section %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email</th>
                                                        <td>
                                                            <%= c.email %>
                                                        </td>
                                                        <th>District</th>
                                                        <td>
                                                            <%= c.district %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Phone</th>
                                                        <td>
                                                            <%= c.phone %>
                                                        </td>
                                                        <th>State</th>
                                                        <td>
                                                            <%= c.state %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Father name</th>
                                                        <td>
                                                            <%= c.father_name %>
                                                        </td>
                                                        <th>Father Phone</th>
                                                        <td>
                                                            <%= c.father_no %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Mother name</th>
                                                        <td>
                                                            <%= c.mother_name %>
                                                        </td>
                                                        <th>Mother Phone</th>
                                                        <td>
                                                            <%= c.mother_no %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Father email</th>
                                                        <td>
                                                            <%= c.father_email %>
                                                        </td>
                                                        <th>Mother email</th>
                                                        <td>
                                                            <%= c.mother_email %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Student Adharcard No</th>
                                                        <td>
                                                            <%= c.adharcard_no %>
                                                        </td>
                                                        <th>Session</th>
                                                        <td>
                                                            <%= c.session_name %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Adharcard Img</th>
                                                        <td>
                                                            <% if(c.adharcard_img) { %>
                                                                <!-- Thumbnail image -->
                                                                <a href="#" data-toggle="modal"
                                                                    data-target="#imageModal1">
                                                                    <img src="<%= c.adharcard_img %>" width="220"
                                                                        height="190" class="rounded pt-2"
                                                                        alt="Thumbnail Image">
                                                                </a>

                                                                <!-- Bootstrap Modal -->
                                                                <div class="modal fade" id="imageModal1" tabindex="-1"
                                                                    role="dialog" aria-labelledby="imageModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h3 style="color: rgb(222, 161, 69);"
                                                                                    class="modal-title"
                                                                                    id="imageModalLabel">Full
                                                                                    Adharcard Image</h5>
                                                                                    <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                        <span
                                                                                            aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <img src="<%= c.adharcard_img %>"
                                                                                    class="img-fluid" width="100%"
                                                                                    alt="Full Image">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% } else { %>
                                                                    <img src="/assets/img/no.jpeg" width="220"
                                                                        height="200" style="margin-left: 16%;"
                                                                        class="rounded-circle pt-2" id="profileImage">
                                                                    <% } %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Transfer Certificate Img</th>
                                                        <td>
                                                            <% if(data[0].transfer_certificate_img) { %>
                                                                <a href="#" data-toggle="modal"
                                                                    data-target="#imageModal2">
                                                                    <img src="<%= c.transfer_certificate_img %>"
                                                                        width="220" height="180" class="rounded pt-2"
                                                                        alt="Thumbnail Image">
                                                                </a>

                                                                <!-- Bootstrap Modal -->
                                                                <div class="modal fade" id="imageModal2" tabindex="-1"
                                                                    role="dialog" aria-labelledby="imageModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h3 style="color: rgb(222, 161, 69);"
                                                                                    class="modal-title"
                                                                                    id="imageModalLabel">Full
                                                                                    Transfer Certificate Image</h5>
                                                                                    <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                        <span
                                                                                            aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <img src="<%= c.transfer_certificate_img %>"
                                                                                    class="img-fluid" width="100%"
                                                                                    alt="Full Image">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% } else { %>
                                                                    <img src="/assets/img/no.jpeg" width="220"
                                                                        height="200" style="margin-left: 16%;"
                                                                        class="rounded-circle pt-2" id="profileImage">
                                                                    <% } %>
                                                        </td>
                                                        <th></th>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Medical Report</th>
                                                        <td>
                                                            <% if(data[0].medical_report_img) { %>
                                                                <a href="#" data-toggle="modal"
                                                                    data-target="#imageModal3">
                                                                    <img src="<%= c.medical_report_img %>" width="220"
                                                                        height="190" class="rounded pt-2"
                                                                        alt="Thumbnail Image">
                                                                </a>

                                                                <!-- Bootstrap Modal -->
                                                                <div class="modal fade" id="imageModal3" tabindex="-1"
                                                                    role="dialog" aria-labelledby="imageModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h3 style="color: rgb(222, 161, 69);"
                                                                                    class="modal-title"
                                                                                    id="imageModalLabel">Full
                                                                                    Medical Report Image</h5>
                                                                                    <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                        <span
                                                                                            aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <img src="<%= c.medical_report_img %>"
                                                                                    class="img-fluid" width="100%"
                                                                                    alt="Full Image">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% } else { %>
                                                                    <img src="/assets/img/no.jpeg" width="230"
                                                                        height="200" style="margin-left: 16%;"
                                                                        class="rounded-circle pt-2" id="profileImage">
                                                                    <% } %>
                                                        </td>
                                                        <th></th>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>



                                    <div class="tab-pane fade pt-3" id="profile-change-password">
                                        <!-- Change Password Form -->
                                        <form method="post" action="/studentEditPass">
                                            <input type="hidden" name="id" value="<%= session.user_id %>" />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img src="assets/img/key.webp" alt="Image"
                                                        class="img-fluid float-center" style="max-width:100%;">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="currentPassword" class="form-label">Current
                                                        Password</label>
                                                    <div class="input-group">
                                                        <input type="password" name="current_password"
                                                            class="form-control" id="currentPassword" required>
                                                        <button style="border-color:silver;" class="btn" type="button"
                                                            id="toggleCurrentPassword">
                                                            <i class="bi bi-eye"></i>
                                                        </button>
                                                    </div>

                                                    <label for="newPassword" class="form-label">New Password</label>
                                                    <div class="input-group">
                                                        <input type="password" name="password" class="form-control"
                                                            id="newPassword" required>
                                                        <button style="border-color:silver;" class="btn" type="button"
                                                            id="toggleNewPassword">
                                                            <i class="bi bi-eye"></i>
                                                        </button>
                                                    </div>
                                                    <div class="password-strength-feedback1" style="color: red;"></div>

                                                    <label for="confirmPassword" class="form-label">Confirm
                                                        Password</label>
                                                    <div class="input-group">
                                                        <input type="password" name="confirmpassword"
                                                            class="form-control" id="confirmPassword" required>
                                                        <button style="border-color:silver;" class="btn" type="button"
                                                            id="toggleConfirmPassword">
                                                            <i class="bi bi-eye"></i>
                                                        </button>
                                                    </div>
                                                    <div id="passwordError" class="invalid-feedback"
                                                        style="display: none;">Passwords do not match!</div>

                                                    <div class="row mb-3">
                                                        <label class="col-sm-2 col-form-label"></label>
                                                        <div class="col-sm-10 pt-3">
                                                            <button type="submit" style="margin-left: 10px;"
                                                                class="btn btn-primary">Update Password</button>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </form>

                                    </div>

                                </div><!-- End Bordered Tabs -->

                            </div>

                        </div>

                    </div>
               
                    

                <% }); %>
                    <% } %>
            </section>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Password fields
                    const currentPasswordInput = document.getElementById('currentPassword');
                    const newPasswordInput = document.getElementById('newPassword');
                    const confirmPasswordInput = document.getElementById('confirmPassword');

                    // Toggle buttons
                    const toggleCurrentPasswordButton = document.getElementById('toggleCurrentPassword');
                    const toggleNewPasswordButton = document.getElementById('toggleNewPassword');
                    const toggleConfirmPasswordButton = document.getElementById('toggleConfirmPassword');

                    // Password strength feedback
                    const passwordStrengthFeedback = document.querySelector('.password-strength-feedback1');

                    // Password error message
                    const passwordError = document.getElementById('passwordError');

                    // Toggle password visibility function
                    function togglePasswordVisibility(input, button) {
                        button.addEventListener('click', function () {
                            const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                            input.setAttribute('type', type);
                            button.querySelector('i').classList.toggle('bi-eye');
                            button.querySelector('i').classList.toggle('bi-eye-slash');
                        });
                    }

                    // Initialize toggle password visibility
                    togglePasswordVisibility(currentPasswordInput, toggleCurrentPasswordButton);
                    togglePasswordVisibility(newPasswordInput, toggleNewPasswordButton);
                    togglePasswordVisibility(confirmPasswordInput, toggleConfirmPasswordButton);

                    // Validate password strength
                    newPasswordInput.addEventListener('input', function () {
                        const password = newPasswordInput.value;
                        if (password.length >= 6 && password.length <= 10) {
                            passwordStrengthFeedback.textContent = '';
                        } else {
                            passwordStrengthFeedback.textContent = 'Password should be between 6 and 10 characters';
                        }
                    });

                    // Validate password match
                    function validatePasswordMatch() {
                        if (newPasswordInput.value !== confirmPasswordInput.value) {
                            confirmPasswordInput.setCustomValidity("Passwords do not match");
                            passwordError.style.display = "block";
                        } else {
                            confirmPasswordInput.setCustomValidity("");
                            passwordError.style.display = "none";
                        }
                    }

                    newPasswordInput.addEventListener('input', validatePasswordMatch);
                    confirmPasswordInput.addEventListener('input', validatePasswordMatch);
                });
            </script>

            <!-- //start like whatsapp Interface photo uploading -->


            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const imageInput = document.getElementById('imageInput');
                    const profileImage = document.getElementById('profileImage');

                    // Click on the image triggers the file input
                    profileImage.addEventListener('click', function () {
                        imageInput.click();
                    });

                    // Preview the selected image
                    imageInput.addEventListener('change', function (event) {
                        const file = event.target.files[0];
                        if (file) {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                profileImage.src = e.target.result;
                            };
                            reader.readAsDataURL(file);
                        }
                    });
                });
            </script>

            <!-- //END like whatsapp Interface photo uploading -->
        </main><!-- End #main -->

        <%- include('includes/footer') %>